name: Build & Test Library
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@1.7.2
        with:
          php-version: '7.4'
          tools: composer:v1,phpstan
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install PHP Dependencies
        run: composer install --optimize-autoloader --prefer-dist
        env:
          SYMFONY_ENV: test

      - name: Unit Tests
        run: vendor/bin/phpunit

      - name: Static Analysis (phpstan)
        run: phpstan analyse --memory-limit=-1 --no-progress